[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "quietR"]
	path = quietR
	url = https://github.com/thomascjohnson/quietr
	shallow = true
	registered = true
